# backend/requirements.txt

langchain==0.2.8
langchain-community==0.2.7
numpy==1.24.0
openai==1.35.14
openpyxl==3.1.5
pandas==2.2.2

langchain-openai

python-dotenv
unstructured
networkx
python-docx
PyMuPDF
pypdf

docx2pdf
xlrd
azure-ai-documentintelligence
glob2
psycopg2-binary
sqlalchemy
boto3

fastapi
uvicorn
